<h1>New novo_resultado</h1>

<% form_for(@novo_resultado) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :equipe %><br />
    <%= f.text_field :equipe %>
  </p>
  <p>
    <%= f.label :etapa %><br />
    <%= f.text_field :etapa %>
  </p>
  <p>
    <%= f.label :cidade %><br />
    <%= f.text_field :cidade %>
  </p>
  <p>
    <%= f.label :pontos %><br />
    <%= f.text_field :pontos %>
  </p>
  <p>
    <%= f.label :posicao %><br />
    <%= f.text_field :posicao %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', novo_resultados_path %>